VITE_PERP_ENGINE_ID=CD4TQVPI7AW5AGCXCPBI6OU3JCEMF4Z2RVEO4O7YDV7OXK2PNR7AZIIO
VITE_ORDERBOOK_ID=CAAASJYLZRXG34DYAZ4IOSS7ZTL2ABR6EJ2XMEWOQTHS767BSG7U4BGF
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
