VITE_PERP_ENGINE_ID=CD6IY25X36TIDYU7TKX3Y6NMZY2TTCDKCYYHER5EAHATKAZNXN6J4JBA
VITE_ORDERBOOK_ID=CD2YTACAGQ4IEAEQVDB5SRE35Y4MJUTKMEV5KM7HP2SYW4XKK4HXSBGQ
VITE_COLLATERAL_TOKEN_ID=CA6SDT7HE7LMYFYUQZGTVG6QJNKKZC2CZWE6ZK7YBZFZA23UNIGLBKFA
VITE_TEE_URL=http://localhost:9721
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
